#map {
    height: 100%;
    width: 100%;
}

h1 {
    font-size: 18px;
}

.leaflet-popup-content {
    margin: 5px 9px;
    line-height: 1.4;
}

.leaflet-popup-content-wrapper {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-align: left;
    border-radius: 0px;
    overflow: scroll;
    max-height: 320px;
    font-size: 10px;
    }

    table {
        font-size: 10px;
        width: 100%;
    }
    th, td {
        text-align: left;
        padding: 2px;
    }
    tr:nth-child(even){background-color: #f2f2f2}
    th {
        background-color: #4CAF50;
        color: white;
    }


    .leaflet-popup-content-wrapper a:link {
        color: green;
    }

    /* visited link */
    .leaflet-popup-content-wrapper a:visited {
        color: green;
    }

    #adress {
        float: left;
        margin-bottom: 6px;

    }
    #links {
        float: right;
        padding:2px;
        border-left: 2px solid grey;
    }

    #times{
        clear:both;
        margin-bottom: 6px;
    }
    #table {
        clear:both;
    }
    #wrapper {
        clear:both;
    }